@utility set-inverted-text-color-* {
  &.is-inverted,
  .is-inverted,
  .is-inverted * {
    --color-theme-text-color: --value([color]);
  }
}

@utility theme-prime {
  --color-theme-accent-color: rgb(128, 209, 255);
  --color-theme-bg-color: rgb(15, 25, 31);
  --color-theme-bg-color-shaded: rgb(99, 106, 109);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@utility theme-cycles {
  --color-theme-accent-color: rgb(205, 246, 152);
  --color-theme-bg-color: rgb(20, 23, 29);
  --color-theme-bg-color-shaded: rgb(37, 43, 54);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@utility theme-mtcs {
  --color-theme-accent-color: rgb(85, 255, 232);
  --color-theme-bg-color: rgb(10, 31, 28);
  --color-theme-bg-color-shaded: rgb(15, 47, 42);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@utility theme-quartz {
  --color-theme-accent-color: rgb(210, 203, 255);
  --color-theme-bg-color-shaded: rgb(106, 105, 109);
  --color-theme-bg-color: rgb(25, 24, 31);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@theme {
  --tw-prose-body: var(--color-theme-text-color);
  --tw-prose-invert-body: red;
  --tw-prose-headings: var(--color-theme-text-color);
  --tw-prose-lead: var(--color-theme-text-color);
  --tw-prose-links: var(--color-theme-accent-color);
  --tw-prose-bold: var(--color-theme-text-color);
  --tw-prose-counters: var(--color-theme-accent-color);
  --tw-prose-bullets: var(--color-theme-accent-color);
  --tw-prose-hr: var(--color-theme-bg-color-shaded);
  --tw-prose-quotes: var(--color-theme-accent-color);
  --tw-prose-quote-borders: var(--color-theme-accent-color);
  --tw-prose-captions: var(--color-theme-accent-color);
  --tw-prose-code: var(--color-theme-text-color);
  --tw-prose-pre-code: var(--color-theme-accent-color);
  --tw-prose-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-th-borders: var(--color-theme-accent-color);
  --tw-prose-td-borders: var(--color-theme-accent-color);
}
