@utility set-inverted-text-color-* {
  &.is-inverted,
  .is-inverted,
  .is-inverted * {
    --color-theme-text-color: --value([color]);
  }
}

@utility theme-informal {
  --color-theme-accent-color: var(--color-blue-500);

  @apply theme-informal-default;

  &.is-inverted {
    @apply theme-informal-inverted;

    .not-inverted {
      @apply theme-informal-default;
    }
  }
}

@utility theme-informal-default {
  --color-theme-bg-color: white;
  --color-theme-bg-color-shaded: var(--color-blue-100);
  --color-theme-text-color: var(--color-blue-500);
  --color-theme-text-color-faded: var(--color-blue-200);
  --color-theme-scrollbar-thumb-color: var(--color-blue-500);

  @apply bg-theme-bg-color;
  @apply text-theme-text-color;
}

@utility theme-informal-inverted {
  --color-theme-bg-color: var(--color-blue-500);
  --color-theme-bg-color-shaded: var(--color-blue-700);
  --color-theme-text-color: white;
  --color-theme-text-color-faded: var(--color-blue-200);
  --color-theme-scrollbar-thumb-color: white;
}

@utility theme-malachite {
  --color-theme-accent-color: var(--color-malachite-500);

  --color-theme-bg-color: black;
  --color-theme-bg-color-shaded: var(--color-malachite-700);
  --color-theme-text-color: white;
  --color-theme-text-color-faded: var(--color-malachite-400);

  @apply bg-theme-bg-color;
  @apply text-theme-text-color;
}

@utility theme-prime {
  --color-theme-accent-color: rgb(128, 209, 255);
  --color-theme-bg-color: rgb(15, 25, 31);
  --color-theme-bg-color-shaded: rgb(99, 106, 109);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@utility theme-cycles {
  --color-theme-accent-color: rgb(205, 246, 152);
  --color-theme-bg-color: rgb(20, 23, 29);
  --color-theme-bg-color-shaded: rgb(37, 43, 54);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@utility theme-mtcs {
  --color-theme-accent-color: rgb(85, 255, 232);
  --color-theme-bg-color: rgb(10, 31, 28);
  --color-theme-bg-color-shaded: rgb(15, 47, 42);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}

@utility theme-quartz {
  --color-theme-accent-color: rgb(210, 203, 255);
  --color-theme-bg-color-shaded: rgb(106, 105, 109);
  --color-theme-bg-color: rgb(25, 24, 31);

  @apply set-inverted-text-color-[color:var(--color-theme-bg-color)];
}
