{
  "plugins": ["prettier-plugin-tailwindcss"],
  "quoteProps": "consistent",
  "singleQuote": true,
  "semi": false,
  "singleAttributePerLine": true,
  "tailwindFunctions": ["twJoin", "twMerge"],
  "tailwindPreserveWhitespace": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid"
}
