@layer base {
  html {
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    background: var(--color-theme-bg-color);
    color: var(--color-theme-text-color);
  }

  * {
    scrollbar-color: var(--color-theme-accent-color) var(--color-theme-bg-color);
  }

  *::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    background: var(--color-theme-bg-color);
  }

  *::-webkit-scrollbar-track {
    background: var(--color-theme-bg-color);
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-theme-accent-color);
    border-radius: 2rem;
  }

  a,
  button,
  input,
  textarea {
    touch-action: manipulation;
  }
}
