@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@custom-variant inverted (&:is(.inverted, .inverted *):not(.not-inverted, .not-inverted *));

@custom-variant not-inverted (&:not(.inverted, .inverted *));

@theme {
  --color-accent-brand-50: #f3f4f8;
  --color-accent-brand-100: #ced5e4;
  --color-accent-brand-200: #9dabcb;
  --color-accent-brand-300: #6c81b0;
  --color-accent-brand-400: #3b5797;
  --color-accent-brand-500: #0c2d7c;
  --color-accent-brand-600: #041e5a;
  --color-accent-brand-700: #001740;

  --color-accent-teal-50: #f5f9fa;
  --color-accent-teal-100: #d5e6ed;
  --color-accent-teal-200: #adcfdc;
  --color-accent-teal-300: #81b7c9;
  --color-accent-teal-400: #599fb8;
  --color-accent-teal-500: #2f87a5;
  --color-accent-teal-600: #05536e;
  --color-accent-teal-700: #023648;

  --color-accent-rust-50: #fcf6f6;
  --color-accent-rust-100: #efdddc;
  --color-accent-rust-200: #ddbab8;
  --color-accent-rust-300: #cd9895;
  --color-accent-rust-400: #bc7571;
  --color-accent-rust-500: #ac534d;

  --color-accent-fuchsia-50: #faf5f9;
  --color-accent-fuchsia-100: #e7d6e8;
  --color-accent-fuchsia-200: #ceadce;
  --color-accent-fuchsia-300: #b685b6;
  --color-accent-fuchsia-400: #9f5d9e;
  --color-accent-fuchsia-500: #873486;

  --color-accent-pink-50: #fdf8ff;
  --color-accent-pink-100: #f9e3f8;
  --color-accent-pink-200: #f3c6f1;
  --color-accent-pink-300: #ecaaea;
  --color-accent-pink-400: #e58ce3;
  --color-accent-pink-500: #e070dd;

  --color-accent-lavender-50: #fbf7fe;
  --color-accent-lavender-100: #ede3fb;
  --color-accent-lavender-200: #dac9f7;
  --color-accent-lavender-300: #c8aff3;
  --color-accent-lavender-400: #b695f0;
  --color-accent-lavender-500: #a27aec;

  --color-accent-brand: var(--color-accent-brand-500);
  --color-accent-teal: var(--color-accent-teal-500);
  --color-accent-rust: var(--color-accent-rust-500);
  --color-accent-fuchsia: var(--color-accent-fuchsia-500);
  --color-accent-pink: var(--color-accent-pink-500);
  --color-accent-lavender: var(--color-accent-lavender-500);

  --color-danger-color: var(--color-accent-rust-500);
  --color-danger-color-50: var(--color-accent-rust-50);
  --color-danger-color-100: var(--color-accent-rust-100);
  --color-danger-color-200: var(--color-accent-rust-200);
  --color-danger-color-300: var(--color-accent-rust-300);
  --color-danger-color-400: var(--color-accent-rust-400);
  --color-danger-color-500: var(--color-accent-rust-500);

  --color-success-color: var(--color-accent-teal-500);
  --color-success-color-50: var(--color-accent-teal-50);
  --color-success-color-100: var(--color-accent-teal-100);
  --color-success-color-200: var(--color-accent-teal-200);
  --color-success-color-300: var(--color-accent-teal-300);
  --color-success-color-400: var(--color-accent-teal-400);
  --color-success-color-500: var(--color-accent-teal-500);

  --color-warning-color: var(--color-amber-500);
  --color-warning-color-50: var(--color-amber-50);
  --color-warning-color-100: var(--color-amber-100);
  --color-warning-color-200: var(--color-amber-200);
  --color-warning-color-300: var(--color-amber-300);
  --color-warning-color-400: var(--color-amber-400);
  --color-warning-color-500: var(--color-amber-500);

  --color-info-color: var(--color-fuchsia-500);
  --color-info-color-50: var(--color-fuchsia-50);
  --color-info-color-100: var(--color-fuchsia-100);
  --color-info-color-200: var(--color-fuchsia-200);
  --color-info-color-300: var(--color-fuchsia-300);
  --color-info-color-400: var(--color-fuchsia-400);
  --color-info-color-500: var(--color-fuchsia-500);

  --color-accent-color: var(--color-accent-teal-500);
  --color-brand-color: var(--color-accent-brand-500);
  --color-faded-text-color: var(--color-accent-brand-200);
  --color-text-color: var(--color-accent-brand-500);
  --color-faded-text-color: var(--color-text-color) / 0.6;
  --color-shaded-bg-color: var(--color-text-color) / 0.1;
  --color-subbrand-malachite: #44c089;
  --color-bg-color: white;

  --font-body: 'Inter', sans-serif;
  --font-display: 'Glegoo', serif;
  --font-icon: 'Font Awesome 6 Pro';
  --font-mono: monospace;
  --font-encode-sans-expanded: 'Encode Sans Expanded', sans-serif;

  --tw-prose-body: var(--color-text-color);
  --tw-prose-headings: var(--color-text-color);
  --tw-prose-lead: var(--color-brand-color);
  --tw-prose-links: var(--color-accent-teal-500);
  --tw-prose-bold: var(--color-brand-color);
  --tw-prose-counters: var(--color-accent-brand-600);
  --tw-prose-bullets: var(--color-accent-fuchsia-500);
  --tw-prose-hr: var(--color-accent-brand-300);
  --tw-prose-quotes: var(--color-brand-color);
  --tw-prose-quote-borders: var(--color-accent-brand-300);
  --tw-prose-captions: var(--color-accent-brand-700);
  --tw-prose-code: var(--color-brand-color);
  --tw-prose-pre-code: var(--color-accent-brand-100);
  --tw-prose-pre-bg: var(--color-brand-color);
  --tw-prose-th-borders: var(--color-border-color);
  --tw-prose-td-borders: var(--color-border-color);
  --tw-prose-invert-body: var(--color-white);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-white);
  --tw-prose-invert-links: var(--color-accent-teal-100);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-accent-brand-200);
  --tw-prose-invert-bullets: var(--color-accent-fuchsia-200);
  --tw-prose-invert-hr: var(--color-border-color);
  --tw-prose-invert-quotes: var(--color-accent-brand-100);
  --tw-prose-invert-quote-borders: var(--color-accent-brand-700);
  --tw-prose-invert-captions: var(--color-accent-brand-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-accent-brand-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-accent-brand-600);
  --tw-prose-invert-td-borders: var(--color-accent-brand-700);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    font-size: 24px;
  }
  * {
    scrollbar-color: var(--color-brand-color) transparent;
  }
  *::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: var(--color-brand-color);
    border-radius: 2rem;
  }
  html {
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
  }
  body,
  html {
    overflow-x: hidden;
    position: relative;
  }
  a,
  button,
  input,
  textarea {
    touch-action: manipulation;
  }
  *:is(.not-inverted, .not-inverted > *) {
    color: var(--color-text-color);
  }
}
