@theme {
  --color-theme-accent-color: rgb(255, 0, 0);
  --color-theme-bg-color: rgb(255, 0, 0);
  --color-theme-bg-color-shaded: rgb(255, 0, 0);
  --color-theme-text-color: rgb(255, 0, 0);
  --color-theme-text-color-faded: rgb(255, 0, 0);
  --color-theme-scrollbar-thumb-color: rgb(255, 0, 0);

  --color-blue-50: #f3f4f8;
  --color-blue-100: #ced5e4;
  --color-blue-200: #9dabcb;
  --color-blue-300: #6c81b0;
  --color-blue-400: #3b5797;
  --color-blue-500: #0c2d7c;
  --color-blue-600: #041e5a;
  --color-blue-700: #001740;

  --color-teal-50: #f5f9fa;
  --color-teal-100: #d5e6ed;
  --color-teal-200: #adcfdc;
  --color-teal-300: #81b7c9;
  --color-teal-400: #599fb8;
  --color-teal-500: #2f87a5;
  --color-teal-600: #05536e;
  --color-teal-700: #023648;

  --color-rust-50: #fcf6f6;
  --color-rust-100: #efdddc;
  --color-rust-200: #ddbab8;
  --color-rust-300: #cd9895;
  --color-rust-400: #bc7571;
  --color-rust-500: #ac534d;

  --color-fuchsia-50: #faf5f9;
  --color-fuchsia-100: #e7d6e8;
  --color-fuchsia-200: #ceadce;
  --color-fuchsia-300: #b685b6;
  --color-fuchsia-400: #9f5d9e;
  --color-fuchsia-500: #873486;

  --color-pink-50: #fdf8ff;
  --color-pink-100: #f9e3f8;
  --color-pink-200: #f3c6f1;
  --color-pink-300: #ecaaea;
  --color-pink-400: #e58ce3;
  --color-pink-500: #e070dd;

  --color-lavender-50: #fbf7fe;
  --color-lavender-100: #ede3fb;
  --color-lavender-200: #dac9f7;
  --color-lavender-300: #c8aff3;
  --color-lavender-400: #b695f0;
  --color-lavender-500: #a27aec;

  --color-malachite-50: #f3f8f5;
  --color-malachite-100: #cee4d7;
  --color-malachite-200: #9dcbb0;
  --color-malachite-300: #6cb088;
  --color-malachite-400: #58a57e;
  --color-malachite-500: #44c089;
  --color-malachite-600: #2e8a5f;
  --color-malachite-700: #1a5137;

  --color-accent-teal: var(--color-teal-500);
  --color-accent-fuchsia: var(--color-fuchsia-500);
  --color-accent-rust: var(--color-rust-500);
  --color-accent-pink: var(--color-pink-500);
  --color-accent-lavender: var(--color-lavender-500);
  --color-accent-malachite: var(--color-malachite-500);

  --color-danger: var(--color-rust-500);
  --color-info: var(--color-fuchsia-500);
  --color-neutral: theme(colors.slate.500);
  --color-success: var(--color-teal-500);
  --color-warning: var(--color-amber-500);
}
